<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    
    <add name="connect" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Oviya\Downloads\web-20240221T091258Z-001\web\App_Data\online.mdf;Integrated Security=True"/>
    
  </connectionStrings>
</configuration>